@font-face {
  font-family: 'Dosis Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7MV3A.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis Regular';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(HhyJU5sn9vOmLxNkIwRSjTVNWLEJ6bQV3A.ttf) format('truetype');
}
